<%= render 'shared/nav' %>

<div class='mt-3 d-flex align-items-center flex-column post-page'>
  <div class="post-card mb-3">
    <div class="post-card-header text-white">
      <div class='d-flex justify-content-between align-items-center'>

      <div class='d-flex gap-2'>
          <p class="card-text"><small class="text-white"><%= @post.created_at.strftime('%B %d, %Y') %> &bull; <%= time_ago_in_words(@post.created_at) %> ago</small></p>
        </div>
          <h5><%= @post.title %> by <%= @post.author.name %></h5>
        <div class="post-card-footer">
    
    <% if can? :destroy, @post %>
      <%= button_to "Delete", post_path(@post), method: :delete, class: "btn btn-danger" %>
    <% end %>
    <% if can? :edit, @post %>
      <%= link_to "Edit", edit_post_path(@post), class: "btn btn-secondary" %>
    <% end %>
  </div>
      </div>
    </div>
    <div class="post-card-body d-flex justify-content-between align-items-center">
      <p><%= @post.description %></p>
    
    <% if user_signed_in? %>
      <%= link_to "Add Comment", new_post_comment_path(@post), class: "btn btn-primary" %>
    <% else %>
      <p>You need to <%= link_to 'sign in', new_user_session_path %> to add a comment.</p>
    <% end %>
    </div>
   
  </div>
  <% if @comments.empty? %>
    <div class="post-card mb-3 comment">
      <div class="post-card-body">
        <p>No Comments</p>
      </div>
    </div>
  <% else %>
    <div class="post-card mb-3 comment">
      <div class="post-card-body">
        <% @comments.each do |comment| %>
          <div class="comment d-flex justify-content-between align-items-center" style="margin-top:5px;">
            <p><%= comment.author.name %>: <%= comment.text %></p>
            <% if can? :destroy, comment %>
              <%= button_to "Delete", post_comment_path(@post, comment), method: :delete, class:"btn btn-outline-danger btn-d-comment" %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
